********* Template CSS *********:root {
    --primary: #1E60AA;
    --secondary: #FF4917;
    --light: #EDF1FC;
    --dark: #184a8f;
}

.fw-medium {
    font-weight: 600 !important;
}

.head-box {
    color: #EEEEEE;
    margin: 0%;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.top-bar {
    height: 75px;
    padding: 0 4rem;
}

.nav-bar {
    position: relative;
    padding: 0 1.5rem;
    transition: .5s;
    z-index: 9999;
    /* margin-right: 200px; */
    background-color: #184a8f;

}

.nav-bar-number {
    position: relative;
    padding: 0 3.20rem;
    transition: .5s;
    z-index: 9999;
    margin-right: 200px;
    background-color: #184a8f;

}

/* .nav-bar.sticky-top {
    position: sticky;
    padding: 0;
    z-index: 9999;
} */

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    /* margin-left: 8px; */

}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: var(--light) !important;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--light) !important;
}

@media (max-width: 991.98px) {
    .nav-bar {
        padding: 0;
    }

    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 100%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        color: var(--light)
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
        color: var(--light)
    }
}


/*** Header ***/
.header-carousel .container,
.page-header .container {
    position: relative;
    padding: 45px 0 45px 35px;
    border-left: 15px solid #FFFFFF;
}

.header-carousel .container::before,
.header-carousel .container::after,
.page-header .container::before,
.page-header .container::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100px;
    height: 15px;
    background: #FFFFFF;
}

.header-carousel .container::after,
.page-header .container::after {
    top: 100%;
    margin-top: -15px;
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item h5,
    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: url(../img/pipesss.jpeg) center center no-repeat;
    background-size: cover;
}

.page-header-1 {
    background: url(../img/mdpe-big.png) center center no-repeat;
    background-size: cover;
}

.page-header-2 {
    background: url(../img/upvc.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Facts ***/
.fact {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../img/bg.jpg) center center no-repeat;
    background-size: cover;
}


/*** Service ***/
.service-item-top img {
    transition: .5s;
}

.service-item-top:hover img {
    transform: scale(1.1);
}

.service-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.service-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: var(--primary);
    border: 5px solid var(--light);
    transition: .5s;
}

.service-carousel .owl-dot.active {
    background: var(--light);
    border-color: var(--primary);
}


/*** Booking ***/
.video {
    position: relative;
    padding: 8rem 0 12rem 0;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video .btn-play {
    position: relative;
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
    margin-bottom: 4rem;
}

.video .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 50%;
    transition: all 200ms;
}

.video .btn-play img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid var(--primary);
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

#videoModal {
    z-index: 99999;
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}

.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-item .team-text {
    /* height: 290px; */
    overflow: hidden;
}

.team-item .team-text .bg-light,
.team-item .team-text .bg-primary {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .5s;
    margin-top: 10px;


}

.team-item .team-text .bg-light,
.team-item .team-text .bg-primary {
    flex-direction: row;
}

.team-item:hover .team-text .bg-light {
    margin-top: -90px;
}

.team-item .team-text .bg-primary .btn {
    color: var(--primary);
    background: #FFFFFF;
}

.team-item .team-text .bg-primary .btn:hover {
    color: #FFFFFF;
    background: var(--secondary)
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    position: relative;
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-item .testimonial-text::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: var(--light) transparent transparent transparent;
    transition: .5s;

}

.testimonial-carousel .owl-item.center .testimonial-text::after {
    border-color: var(--primary) transparent transparent transparent;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 350px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

.testimonial-carousel:hover .owl-nav {
    width: 300px;
    opacity: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    font-size: 30px;
    color: var(--primary);
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.box {
    display: flex;
    flex-direction: row;
    background-color: #184a8f;
    justify-content: center;
}

.box .btn:hover {
    background: var(--secondary);
    border-color: var(--secondary);
}

.name-box {
    background-color: #18a6df;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EEEEEE;
}

.name-box h5 {
    background-color: #18a6df;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EEEEEE;
}

.logo {
    margin-left: -65px !important;
    margin-top: 16px;
}

.logo-2 {
    /* margin-right: -15px; */
    max-width: 100px;
    margin: auto;
    height: 80px;
    margin-top: 10px;
}

.navbar-new {
    /* background-color: #333; */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.navbar-heading-new {
    font-size: 54px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    font-weight: 150;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    background-color: #184a8f;
    height: auto;
}







h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #ffffff;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

h1 span {
    display: block;
    font-size: 0.4em;
    line-height: 1;
}

h1 em {
    font-style: normal;
    font-weight: 600;
}


.nine {
    margin: auto;
    /* margin-left: 200px; */
}

.nine h1 {
    text-align: center;
    font-size: 2.7vw;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: 300;
}

.nine h1 span {
    margin-top: 5px;
    font-size: 1vw;
    color: #c5bdbd;
    word-spacing: 1px;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 10px;
    align-items: center;
}

.nine h1 span:after,
.nine h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: #f8f8f8;
}


@media screen and (max-width: 600px) {
    .nine {
        display: none;
    }
}

.navvvvbar {
    display: flex;
    flex-direction: row;
}

.button-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    margin-top: 40px;
    margin-right: -40px !important;
    gap: 15px;
}

@media screen and (max-width: 768px) {
    .button-bar {
        margin-right: -50px !important;
        margin-top: 60px;
        font-size: 2vw;
    }
}
@media screen and (max-width: 600px) {
    .button-bar {
        margin-left: -70px;
        margin-top: 60px;
        font-size: 4vw;
    }
}
@media screen and (max-width: 360px) {
    .button-bar {
        margin-left: -110px;
        margin-top: 60px;
        font-size: 4vw;
    }
}


.warrnty-card {
    background-color: #184a8f;
    height: 28em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 400px;
}

.text-2 {
    color: #fff;
    text-align: center;
    max-width: 300px;
    margin: auto;
    margin-bottom: 50px;
    /* background-color: #FF4917; */
}

.image-div {
    height: 200px;
    width: 220px;
    /* justify-content: center;
align-items: center; */
    margin: auto;
}

.top-heading {
    display: flex;
    /* flex-direction: column; */
    /* margin-left: 150px; */
}

.big-heading {
    font-size: 33px;
    margin-top: 35px;
    margin-right: -20px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
}

.navvvvbar {
    font-size: larger;
}

@media (min-width:600px) {
    .big-heading {
        display: none;
        font-weight: 700;
    }
}

@media (max-width:600px) {
    .big-heading {
        font-size: 28px;
        font-weight: 700;
    }
}
@media (max-width:425px) {
    .big-heading {
        font-size: 25px;
        margin-right: -75px;
        font-weight: 700;
    }
}
@media (max-width:375px) {
    .big-heading {
        font-size: 18px;
        margin-top: 45px;
        margin-right: -60px;
        font-weight: 700;
        /* width: 100px;
        text-transform: uppercase;
        color: #ffffff;
        letter-spacing: 0px;
        font-family: "Playfair Display", serif;
        font-weight: 700; */
    }
}
@media (max-width:320px) {
    .big-heading {
        font-size: 15px;
        margin-right: -15px;
        font-weight: 700;
    }
}